.rc-slider {
	& > .rc-slider-rail,
	& > .rc-slider-track {
		background-color: var(--lightest-gray);
	}
	
	& > .rc-slider-track {
		background-color: var(--cyan);
	}
	
	& > .rc-slider-handle {
		& > .rc-slider-handle-tooltip {
			z-index: 1;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2px 5px;
			height: max-content;
			border: 1px solid var(--lightest-gray);
			border-radius: var(--border-radius);
			background-color: var(--white);
			font-size: .9rem;
			color: var(--black);
			pointer-events: none;
			box-shadow: var(--light-shadow);
		}
	}
}