.checkbox {
	display: grid;
	grid-template-columns: 1em auto;
	gap: 10px;
	color: var(--dark-gray);
	transition: color .3s ease;
	
	&:hover {
		color: var(--darkest-gray);
		
		& > input:not(:checked) {
			border-color: var(--darkest-gray);
		}
	}
	
	& > input {
		display: grid;
		place-content: center;
		margin: 0;
		width: 1.4em;
		height: 1.4em;
		border: 2px solid var(--dark-gray);
		border-radius: var(--border-radius);
		background-color: var(--white);
		-webkit-appearance: none;
		appearance: none;
		transition: border-color .3s ease, background-color .3s ease;
		
		&::before {
			content: '';
			transform-origin: bottom left;
			width: .8em;
			height: .8em;
			background-color: var(--white);
			opacity: 0;
			clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
			transition: opacity .3s ease;
		}
		
		&:checked {
			border-color: var(--blue);
			background-color: var(--blue);
			
			&::before {
				opacity: 1;
			}
		}
	}
}