.table-container {
	overflow: auto;
	max-height: 70svh;
	border: 1px solid var(--lightest-gray);
	
	& > table {
		position: relative;
		width: 100%;
		border-spacing: 0;
		
		& > thead {
			z-index: 1;
			position: sticky;
			top: 0;
			left: 0;
		}
		
		th {
			border-bottom: 1px solid var(--lightest-gray);
			background-color: var(--white);
			text-align: left;
			text-wrap: nowrap;
			color: var(--blue);
			
			&:not(:first-child) {
				border-left: 1px solid color-mix(in srgb, var(--lightest-gray) 50%, transparent);
			}
			
			&.error {
				position: relative;
				--color: var(--red);
				color: var(--color);
				
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: color-mix(in srgb, var(--color) 20%, transparent);
					pointer-events: none;
				}
				
				&.warn {
					--color: color-mix(in srgb, var(--red) 50%, var(--yellow) 50%);
				}
			}
			
			& > .cell-container {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				padding: 10px;
				
				& > span {
					flex-grow: 1;
				}
				
				& > .select-container {
					flex-grow: 1;
					position: relative;
					padding-right: 20px;
					
					& > select {
						z-index: 1;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						appearance: auto;
						border: none;
						background-color: transparent;
						font-weight: inherit;
						text-wrap: nowrap;
						color: inherit;
						cursor: pointer;
					}
				}
				
				& > .column-button {
					display: flex;
					justify-content: center;
					align-items: center;
					border: none;
					background-color: transparent;
					color: var(--color);
					opacity: 0;
					transition: opacity 0.3s ease;
					
					& > svg {
						transition: rotate 0.3s ease;
						width: 1.2em;
					}
				}
				
				&:hover > .column-button {
					opacity: 1;
				}
			}
		}
		
		& > tbody {
			& > tr {
				position: relative;
				transition: background-color 0.3s ease;
				
				&:nth-child(2n) {
					background-color: color-mix(in srgb, var(--lightest-gray) 30%, transparent);
				}
				
				&.warn {
					background-color: color-mix(in srgb, var(--yellow) 20%, transparent);
				}
				
				&:hover {
					background-color: color-mix(in srgb, var(--cyan) 20%, transparent);
				}
				
				& > td {
					border-left: 1px solid color-mix(in srgb, var(--lightest-gray) 50%, transparent);
					color: var(--darkest-gray);
					text-wrap: nowrap;
					
					&.warn {
						background-color: color-mix(in srgb, var(--red) 50%, transparent);
					}
					
					&:has(> input[type="checkbox"]) {
						text-align: center;
					}
					
					&:not(:has(> input)) {
						padding: 10px;
					}
					
					&.disabled {
						background-color: color-mix(in srgb, var(--lightest-gray) 50%, transparent);
						cursor: not-allowed;
					}
					
					& > svg {
						width: 1.2em;
						aspect-ratio: 1;
					}
					
					& > select.button {
						width: 100% !important;
					}
					
					& > .progress-bar-container > .progress-bar {
						min-width: 150px;
					}
					
					& > .cell-input {
						all: unset;
						height: 100%;
						padding: 10px;
						border-radius: var(--border-radius);
						
						&[type="checkbox"] {
							appearance: auto;
						}
						
						&:focus {
							outline: 2px solid var(--blue);
						}
					}
					
					& > .action-button {
						display: inline-flex;
						justify-content: center;
						align-items: center;
						padding: 5px;
						border: none;
						border-radius: var(--border-radius);
						background-color: transparent;
						color: var(--color);
						transition: background-color 0.3s ease;
						
						&:not(:first-child) {
							margin-left: 5px;
						}
						
						&:focus,
						&:hover {
							background-color: color-mix(in srgb, var(--color) 20%, transparent);
						}
						
						& > svg {
							width: 1.2em;
							aspect-ratio: 1;
						}
					}
				}
			}
		}
	}
}