.progress-bar-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;

	& > .progress-bar-label {
		color: var(--blue);
	}

	& > .progress-bar {
		position: relative;
		display: flex;
		border-radius: var(--border-radius);
		height: 1.5em;
		min-width: 200px;
		background: var(--lightest-gray);
		overflow: hidden;

		& > .progress-bar-fill {
			$dashSize: 20.2;
			width: 0;
			height: 100%;
			background-color: var(--color);
			transition: width 0.5s ease, color 0.3s ease;
		}

		& > .progress-bar-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: 500;
			text-align: center;
			width: 100%;
			font-size: 0.9em;
			color: var(--white);
			transition: clip-path 0.5s ease, color 0.3s ease;

			& + .progress-bar-text {
				color: var(--color);
			}
		}
	}
}
